@media (min-width: 1200px){
	.container {
	    max-width: 960px !important;
	}
}

.bg-mylight{
	background-color: #e9ecef;
}

.card-title{
	background-color: rgba(50,53,57,.45);
    border-radius: 35px;
    color: #fff;
    padding: 8px 18px;
    font-size: 16px;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
}

/* For  Input File */

.inputfile {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
      }

      .inputfile + label {
          max-width: 100%;
          font-size: 14px;
          font-weight: bold;
          text-overflow: ellipsis;
          white-space: nowrap;
          cursor: pointer;
          display: inline-block;
          overflow: hidden;
          text-align: center;
      }

      .inputfile + label figure {
          width: 154px;
          height: 154px;
          border-radius: 50%;
          background-color: transparent;
          display: block;
          margin: 0 auto;
          margin-bottom: 6px;
      }

      .inputfile + label figure img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
      }
      .form-find {
            position: relative;
            padding-bottom: 50px;
            border-bottom: 1px solid #ebebeb;
        }